<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "lolistagram", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/home/free?key=ナイトプール">水着</a></li>
        <li><a href="/home/free?key=由比ヶ浜">水着２</a></li>
        <li><a href="/home/free?key=プール">水着３</a></li>
        <li><a href="/home/free?key=ツインテール">ツインテール</a></li>
        <li><a href="/home/free?key=サイバージャパンダンサーズ">ギャル</a></li>
        <li><a href="/home/free?key=不良少女">少女</a></li>
        <li><a href="/home/free?key=女子会">女子会</a></li>
        <li><a href="/home/free?key=サマーランド">プール女子</a></li>
        <li><a href="/home/free?key=原宿">読モ女子</a></li>
        <li><a href="/home/free?key=表参道">モデル女子</a></li>
        <li><a href="/home/free?key=青山">おしゃ女子</a></li>
        <li><a href="/home/free?key=女子中学生">JC</a></li>
        <li><a href="/home/free?key=女子高生">JK</a></li>
        <li><a href="/home/free?key=女子大生">JD</a></li>
      </ul>
    </nav>
  </div>
</header>

